@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --circle-gradient-start: rgba(255, 255, 255, 0);
    --circle-gradient-end: rgba(255, 255, 255, 1);
  }
}

/* Optimize font loading for SF Pro Display */
@font-face {
  font-family: "SF Pro Display";
  src: local("-apple-system"), local("BlinkMacSystemFont");
  font-display: swap;
}


@font-face {
  font-family: "jakatha";
  src: url("./assets/jakar.ttf"), format("truetype");
}

@font-face {
  font-family: "konnectMedium";
  src: url("./assets/Fonts/KonnectMedium.otf"), format("truetype");
}
@font-face {
  font-family: "konnectRegular";
  src: url("./assets/Fonts/KonnectRegular.otf"), format("truetype");
}
@font-face {
  font-family: "konnectSemiBold";
  src: url("./assets/Fonts/KonnectSemiBold.otf"), format("truetype");
}

.konnectMedium{
  font-family: "konnectMedium";
}
.konnectRegular{
  font-family: "konnectRegular";
}
.konnectSemiBold{
  font-family: "konnectSemiBold";
}



.jakartha {
  font-family: "jakatha";
}

.inter {
  font-family: "inter";
}

:root{
  --primary-red-color: #BE243C;

}


body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  font-family: "jakatha" !important;
}

/* *, html{
  box-sizing: border-box;
  border: 1px red solid;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 0.3s ease-out;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 50s linear infinite;
}



.phone-input-container {
  width: 20%;
}

.phone-input-button {
  background: transparent !important;
  border: 1px solid #737373 !important;
  border-right: none !important;
}

.bt-c {
  background: linear-gradient(
    90deg,
    rgba(218, 32, 46, 1) 0%,
    rgba(59, 54, 125, 1) 100%
  );
}

.text-col {
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(160, 185, 215, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



.custom-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.corner {
  width: 500px;
  aspect-ratio: 1;
  background-color: black;
  background-image: radial-gradient(
    circle at 100% 100%,
    red 500px,
    transparent 500px
  );
}

.card-div {
  --_br: 1rem;
  position: relative;
}

.card-div::before,
.card-div::after {
  --size: var(--_br);
  content: "";
  position: absolute;
  width: var(--size);
  aspect-ratio: 1;
  background-image: radial-gradient(
    circle at 100% 100%,
    transparent var(--size),
    red var(--size)
  );
}

.card-image {
  border-radius: var(--_br);
}

.card-image::before {
  left: 0;
  bottom: 0;
  grid-column: 2;
  grid-row: 2/3;
  rotate: -90deg;
}

.card-image::before {
  left: 0;
  bottom: 0;
  grid-column: 1;
  grid-row: 1/2;
  rotate: -90deg;
}

.card-content {
  border-radius: var(--_br) var(--_br) 0 0;
}

.parent-card {
  background-color: transparent;
}

.invert-curve-top::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 9px;
  z-index: 50;
  box-shadow: 0px -7px 0px 0px white;
}
.invert-curve-top::after {
  content: "";
  position: absolute;
  bottom: 1px;
  top: 35px;
  right: 1px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-top-right-radius: 9px;
  z-index: 50;
  box-shadow: 0px -7px 0px 0px white;
}

.invert-curve-bottom::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-left-radius: 9px;
  z-index: 50;
  box-shadow: -4px 4px 0px white;
}
.invert-curve-bottom::after {
  content: "";
  position: absolute;
  bottom: 1px;
  top: 3px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-bottom-left-radius: 9px;
  z-index: 50;
  box-shadow: -4px 4px 0px white;
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* shinning btn */
@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shining-button {
  background: linear-gradient(
    90deg,
    #ff9999, /* Light Red */
    #99ff99, /* Light Green */
    #9999ff, /* Light Blue */
    #d1b3ff, /* Light Violet */
    #ffccf2, /* Light Pink */
    #ff9999  /* Light Red (loop) */
  );
  background-size: 300% 300%;
  animation: shine 3s infinite;
  border: none;
  color: white;
  transition: transform 0.2s;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add soft shadow */
}

.shining-button:hover {
  transform: scale(1.05);
}

/* Quiz page */
.stars {
  background: transparent
    url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyBpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBXaW5kb3dzIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjQxMjlFMkZBQjk5RDExRTBCQzAwQzhDOEM4MTY5REY5IiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjQxMjlFMkZCQjk5RDExRTBCQzAwQzhDOEM4MTY5REY5Ij4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6NDEyOUUyRjhCOTlEMTFFMEJDMDBDOEM4MTY5REY5IiBzdFJlZjpkb2N1bWVudElEPSJ4bXAuZGlkOjQxMjlFMkY5Qjk5RDExRTBCQzAwQzhDOEM4MTY5REY5Ii8+IDwvcmRmOkRlc2NyaXB0aW9uPiA8L3JkZjpSREY+IDwveDp4bXBtZXRhPiA8P3hwYWNrZXQgZW5kPSJyIj8+3rW+rAAAADNJREFUeNpiYGBg2MzAwPCfgQj4n4GBYTMTAwUAZKgDE0UGwowlyhsw58L8S5J3AAIMAC+/Ct7HxUEmAAAAAElFTkSuQmCC)
    repeat top left;
  animation: stars-animation 10s linear infinite;
}

@keyframes stars-animation {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}



.featured-text {
  color: #000;
  font-weight: 700;
}

@media (min-width: 640px) {
  .nav-text {
    -webkit-text-stroke: 1px #000;
    text-stroke: 1px #000;
  }
}


/* scrollbar customization */
/* For WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
  background: #9f9f9f; /* Scrollbar color */
  border-radius: 10px; /* Rounded edges */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e7e7e; /* Darker blue on hover */
}


